<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Schedule</title>
</head>
<body>

<!-- Unit 1 Dropdown -->
<!-- <details> -->
  <!-- <summary><strong>Unit 1</strong> - HTML / CSS / JavaScript</summary> -->
  <ul type="none">
    <!-- Week 1 Dropdown -->
    <li>
      <!-- <details>  -->
        <!-- <summary>Week 1 - FUNdamentals!</summary> -->
        <!-- Schedule Table -->
        <h2>Week 1 Schedule</h2>
        <table>
          <thead>
            <tr>
              <td></td>
              <th>Morning Exercise</th>
              <th>Module 1</th>
              <th>Module 2</th>
              <th>HW &amp; Extras</th>
              <th>Focus</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><strong>Monday</strong><br />(7/5)</td>
              <td>Holiday</td>
              <td>Holiday</td>
              <td>Holiday</td>
              <td>Holiday</td>
              <td>Holiday</td>
            </tr>
            <tr>
              <td><strong>Tuesday</strong><br />(7/6)</td>
              <%- lessonDays[0] %>
            </tr>
            <tr>
              <td><strong>Wednesday</strong><br />(7/7)</td>
              <%- lessonDays[1] %>
            </tr>
            <tr>
              <td><strong>Thursday</strong><br />(7/8)</td>
              <!-- <td><a href="https://github.com/SEIR-7-06/profile-cards">CSS Profile Card</a></td> -->
              <td>Outcomes</td>
              <%- lessonDays[2] %>
            </tr>
            <tr>
              <td><strong>Friday</strong><br />(7/9)</td>
              <%- lessonDays[3] %>
            </tr>
          </tbody>
        </table>
        <h2>Week 1 Deliverables</h2>
        <p>It is a requirement to complete at least 80% of all deliverables to receive: a Certificate of Completion; post-grad benefits such as the Meet and Greet; and Outcomes support.</p>
        <!-- Deliverable Table -->
        <table>
          <thead>
            <tr>
              <td>Date Assigned</td>
              <td>Deliverable</td>
              <td>Final Due Date</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>7/6</td>
              <td><a href="https://github.com/SEIR-7-06/command-line-lab">Terminal</a></td>
              <td>7/8</td>
            </tr>
            <tr>
              <td>7/8</td>
              <td><a href="https://github.com/SEIR-7-06/HW-Loops-Conditionals">Loops & Conditionals</a></td>
              <td>7/15</td>
            </tr>
            <tr>
              <td>7/9</td>
              <td><a href="https://github.com/SEIR-7-06/functions-scope-hw">Functions</a></td>
              <td>7/16</td>
            </tr>
          </tbody>
        </table>
        <!-- </details> -->
      </li>
      <!-- Week 2 Dropdown -->
      <li>
        <!-- <details> -->
          <!-- <summary>Week 2 - Advanced Objects, The DOM</summary> -->
          <h2>Week 2 - Schedule</h2>
          <!-- Schedule Table -->
          <table>
            <thead>
              <tr>
                <td></td>
                <th>Morning Exercise</th>
                <th>Module 1</th>
                <th>Module 2</th>
                <th>HW &amp; Extras</th>
                <th>Focus</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><strong>Monday</strong><br />(7/12)</td>
                <%- lessonDays[4] %>
              </tr>
              <tr>
                <td><strong>Tuesday</strong><br />(7/13)</td>
                <%- lessonDays[5] %>
              </tr>
              <tr>
                <td><strong>Wednesday</strong><br />(7/14)</td>
                <%- lessonDays[6] %>
              </tr>
              <tr>
                <td><strong>Thursday</strong><br />(7/15)</td>
                <td>Outcomes</td>
                <%- lessonDays[7] %>
              </tr>
              <tr>
                <td><strong>Friday</strong><br />(7/16)</td>
                <%- lessonDays[8] %>
              </tr>
            </tbody>
          </table>
          <h2>Week 2 - Deliverables</h2>
          <p>It is a requirement to complete at least 80% of all deliverables to receive: a Certificate of Completion; post-grad benefits such as the Meet and Greet; and Outcomes support.</p>
          <!-- Deliverable Table -->
          <table>
            <thead>
              <tr>
                <td>Date Assigned</td>
                <td>Deliverable</td>
                <td>Final Due Date</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>7/12</td>
                <td><a href="https://github.com/SEIR-7-06/mixed-data-types-hw">Mixed Data Types</a></td>
                <td>7/14</td>
              </tr>
              <tr>
                <td>7/12</td>
                <td><a href="https://github.com/SEIR-7-06/flexbox-froggy-hw">Flexbox Froggy</a></td>
                <td>7/14</td>
              </tr>
              <tr>
                <td>7/14</td>
                <td><a href="https://github.com/SEIR-7-06/sei-tic-tac-toe">Tic Toc Toe</a></td>
                <td>7/15</td>
              </tr>
            </tbody>
          </table>
          <!-- </details> -->
        </li>
        <!-- Week 3 Dropdown -->
        <li>
          <!-- <details> -->
            <!-- <summary>Week 3 - Project Zero: Tamagotchi</summary> -->
            <!-- Schedule Table -->
            <h2>Week 3 - Schedule</h2>
            <table>
              <thead>
                <tr>
                  <td></td>
                  <th>Morning Exercise</th>
                  <th>Module 1</th>
                  <th>Module 2</th>
                  <th>HW &amp; Extras</th>
                  <th>Focus</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><strong>Monday</strong><br />(7/19)</td>
                  <%- lessonDays[9] %>
                </tr>
                <tr>
                  <td><strong>Tuesday</strong><br />(7/20)</td>
                  <%- lessonDays[10] %>
                </tr>
                <tr>
                  <td><strong>Wednesday</strong><br />(7/21)</td>
                  <%- lessonDays[11] %>
                </tr>
                <tr>
                  <td><strong>Thursday</strong><br />(7/22)</td>
                  <td>Outcomes</td>
                  <%- lessonDays[12] %>
                </tr>
                <tr>
                  <td><strong>Friday</strong><br />(7/23)</td>
                  <%- lessonDays[13] %>
                </tr>
              </tbody>
            </table>
            <h2>Week 3 - Deliverables</h2>
            <p>It is a requirement to complete at least 80% of all deliverables to receive: a Certificate of Completion; post-grad benefits such as the Meet and Greet; and Outcomes support.</p>
            <!-- Deliverable Table -->
            <table>
              <thead>
                <tr>
                  <td>Date Assigned</td>
                  <td>Deliverable</td>
                  <td>Final Due Date</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>7/21</td>
                  <td><a href="https://github.com/SEIR-7-06/project-zero">Project: Tamagotchi</a></td>
                  <td>7/27</td>
                </tr>
              </tbody>
            </table>
            <!-- </details> -->
          </li>
        </ul>
        <!-- </details> -->
        <hr />
        
        <!-- Unit 2 Dropdown -->
        <!-- <details> -->
          <!-- <summary><strong>Unit 2</strong> - JS Servers & NOSQL Databases</summary> -->
          <ul type="none">
            <!-- Week 4 Dropdown -->
            <li>
              <!-- <details>  -->
        <!-- <summary>Week 4 - Node, Express, & MongoDB</summary> -->
        <!-- Schedule Table -->
        <h2>Week 4 Schedule</h2>
        <table>
          <thead>
            <tr>
              <td></td>
              <th>Morning Exercise</th>
              <th>Module 1</th>
              <th>Module 2</th>
              <th>HW &amp; Extras</th>
              <th>Focus</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><strong>Monday</strong><br />(7/26)</td>
              <%- lessonDays[14] %>
            </tr>
            <tr>
              <td><strong>Tuesday</strong><br />(7/27)</td>
              <%- lessonDays[15] %>
            </tr>
            <tr>
              <td><strong>Wednesday</strong><br />(7/28)</td>
              <%- lessonDays[16] %>
            </tr>
            <tr>
              <td><strong>Thursday</strong><br />(7/29)</td>
              <td>Outcomes</td>
              <%- lessonDays[17] %>
            </tr>
            <tr>
              <td><strong>Friday</strong><br />(7/30)</td>
              <%- lessonDays[18] %>
          </tr>
          </tbody>
        </table>
        <h2>Week 4 - Deliverables</h2>
        <p>It is a requirement to complete at least 80% of all deliverables to receive: a Certificate of Completion; post-grad benefits such as the Meet and Greet; and Outcomes support.</p>
        <table>
          <thead>
            <tr>
              <td>Date Assigned</td>
              <td>Deliverable</td>
              <td>Final Due Date</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>7/29</td>
              <td><a href="https://github.com/SEIR-7-06/express-space-homework">Express Space</a></td>
              <td>8/5</td>
            </tr>
            <!-- <tr>
              <td>4/29</td>
              <td><a href="https://github.com/SEIR-7-06/mongoose-vampires-hw">Mongoose Vampires</a></td>
              <td>5/6</td>
            </tr> -->
          </tbody>
        </table>
      <!-- </details> -->
    </li>
    <!-- Week 5 Dropdown -->
    <li>
      <!-- <details> -->
        <!-- <summary>Week 5 - Servers & Databases Continued</summary> -->
        <h2>Week 5 - Schedule</h2>
        <!-- Schedule Table -->
        <table>
          <thead>
            <tr>
              <td></td>
              <th>Morning Exercise</th>
              <th>Module 1</th>
              <th>Module 2</th>
              <th>HW &amp; Extras</th>
              <th>Focus</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><strong>Monday</strong><br />(8/2)</td>
              <%- lessonDays[19] %>
            </tr>
            <tr>
              <td><strong>Tuesday</strong><br />(8/3)</td>
              <%- lessonDays[20] %>
            </tr>
            <tr>
              <td><strong>Wednesday</strong><br />(8/4)</td>
              <%- lessonDays[21] %>
            </tr>
            <tr>
              <td><strong>Thursday</strong><br />(8/5)</td>
              <td>Outcomes</td>
              <%- lessonDays[22] %>
            </tr>
            <tr>
              <td><strong>Friday</strong><br />(8/6)</td>
              <%- lessonDays[23] %>
            </tr>
          </tbody>
        </table>
        <h2>Week 5 - Deliverables</h2>
        <p>It is a requirement to complete at least 80% of all deliverables to receive: a Certificate of Completion; post-grad benefits such as the Meet and Greet; and Outcomes support.</p>
        <!-- Deliverable Table -->
        <table>
          <thead>
            <tr>
              <td>Date Assigned</td>
              <td>Deliverable</td>
              <td>Final Due Date</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>8/3</td>
              <td><a href="https://github.com/SEIR-7-06/mongoose-vampires-hw">Mongoose Vampires</a></td>
              <td>8/10</td>
            </tr>
            <tr>
              <td>8/4</td>
              <td><a href="https://github.com/SEIR-7-06/first-full-stack-homework">MEN Stack</a></td>
              <td>8/11</td>
            </tr>
          </tbody>
        </table>
      <!-- </details> -->
    </li>
    <!-- Week 6 Dropdown -->
    <li>
      <!-- <details> -->
        <!-- <summary>Week 6 - Project: Express</summary> -->
        <!-- Schedule Table -->
        <h2>Week 6 - Schedule</h2>
        <table>
          <thead>
            <tr>
              <td></td>
              <th>Morning Exercise</th>
              <th>Module 1</th>
              <th>Module 2</th>
              <th>HW &amp; Extras</th>
              <th>Focus</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><strong>Monday</strong><br />(8/9)</td>
              <%- lessonDays[24] %>
            </tr>
            <tr>
              <td><strong>Tuesday</strong><br />(8/10)</td>
              <%- lessonDays[25] %>
            </tr>
            <tr>
              <td><strong>Wednesday</strong><br />(8/11)</td>
              <%- lessonDays[26] %>
            </tr>
            <tr>
              <td><strong>Thursday</strong><br />(8/12)</td>
              <td>Outcomes</td>
              <%- lessonDays[27] %>
            </tr>
            <tr>
              <td><strong>Friday</strong><br />(8/13)</td>
              <%- lessonDays[28] %>
            </tr>
          </tbody>
        </table>
        <h2>Week 6 - Deliverables</h2>
        <p>It is a requirement to complete at least 80% of all deliverables to receive: a Certificate of Completion; post-grad benefits such as the Meet and Greet; and Outcomes support.</p>
        <!-- Deliverable Table -->
        <table>
          <thead>
            <tr>
              <td>Date Assigned</td>
              <td>Deliverable</td>
              <td>Final Due Date</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>8/9</td>
              <td><a href="https://github.com/SEIR-7-06/project-one">Project One</a></td>
              <td>8/16</td>
            </tr>
          </tbody>
        </table>
      <!-- </details> -->
    </li>
  </ul>
<!-- </details> -->
<hr />

<!-- Unit 3 Dropdown -->
<!-- <details> -->
  <!-- <summary><strong>Unit 3</strong> - React</summary> -->
  <ul type="none">
    <!-- Week 7 Dropdown -->
    <li>
      <!-- <details>  -->
        <!-- <summary>Week 7 - React</summary> -->
        <!-- Schedule Table -->
        <h2>Week 7 Schedule</h2>
        <table>
          <thead>
            <tr>
              <td></td>
              <th>Morning Exercise</th>
              <th>Module 1</th>
              <th>Module 2</th>
              <th>HW &amp; Extras</th>
              <th>Focus</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><strong>Monday</strong><br />(8/16)</td>
              <%- lessonDays[29] %>
            </tr>
            <tr>
              <td><strong>Tuesday</strong><br />(8/17)</td>
              <%- lessonDays[30] %>
            </tr>
            <tr>
              <td><strong>Wednesday</strong><br />(8/18)</td>
              <%- lessonDays[31] %>
            </tr>
            <tr>
              <td><strong>Thursday</strong><br />(8/19)</td>
              <td>Outcomes</td>
              <%- lessonDays[32] %>
            </tr>
            <tr>
              <td><strong>Friday</strong><br />(8/20)</td>
              <%- lessonDays[33] %>
            </tr>
          </tbody>
        </table>
        <h2>Week 7 Deliverables</h2>
        <p>It is a requirement to complete at least 80% of all deliverables to receive: a Certificate of Completion; post-grad benefits such as the Meet and Greet; and Outcomes support.</p>
        <!-- Deliverable Table -->
        <table>
          <thead>
            <tr>
              <td>Date Assigned</td>
              <td>Deliverable</td>
              <td>Final Due Date</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>8/20</td>
              <td><a href="https://github.com/SEIR-7-06/react-burger-stacker">React Burger Builder</a></td>
              <td>8/27</td>
            </tr>
          </tbody>
        </table>
      <!-- </details> -->
    </li>
    <!-- Week 8 Dropdown -->
    <li>
      <!-- <details> -->
        <!-- <summary>Week 8 - React Continued</summary> -->
        <h2>Week 8 - Schedule</h2>
        <!-- Schedule Table -->
        <table>
          <thead>
            <tr>
              <td></td>
              <th>Morning Exercise</th>
              <th>Module 1</th>
              <th>Module 2</th>
              <th>HW &amp; Extras</th>
              <th>Focus</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><strong>Monday</strong><br />(8/23)</td>
              <%- lessonDays[34] %>
            </tr>
            <tr>
              <td><strong>Tuesday</strong><br />(8/24)</td>
              <%- lessonDays[35] %>
            </tr>
            <tr>
              <td><strong>Wednesday</strong><br />(8/25)</td>
              <%- lessonDays[36] %>
            </tr>
            <tr>
              <td><strong>Thursday</strong><br />(8/26)</td>
              <td>Outcomes</td>
              <%- lessonDays[37] %>
            </tr>
            <tr>
              <td><strong>Friday</strong><br />(8/27)</td>
              <%- lessonDays[38] %>
            </tr>
          </tbody>
        </table>
        <h2>Week 8 - Deliverables</h2>
        <p>It is a requirement to complete at least 80% of all deliverables to receive: a Certificate of Completion; post-grad benefits such as the Meet and Greet; and Outcomes support.</p>
        <!-- Deliverable Table -->
        <table>
          <thead>
            <tr>
              <td>Date Assigned</td>
              <td>Deliverable</td>
              <td>Final Due Date</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>8/25</td>
              <td><a href="https://github.com/SEIR-7-06/react_todo_walkthrough">React TODO Walkthrough</a></td>
              <td>9/1</td>
            </tr>
          </tbody>
        </table>
      <!-- </details> -->
    </li>
    <!-- Week 9 Dropdown -->
    <li>
      <!-- <details> -->
        <!-- <summary>Week 9 - Project Wayfarer</summary> -->
        <!-- Schedule Table -->
        <strong>No Outcomes this Week</strong>
        <h2>Week 9 - Schedule</h2>
        <table>
          <thead>
            <tr>
              <td></td>
              <th>Morning Exercise</th>
              <th>Module 1</th>
              <th>Module 2</th>
              <th>HW &amp; Extras</th>
              <th>Focus</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><strong>Monday</strong><br />(8/30)</td>
              <%- lessonDays[39] %>
            </tr>
            <tr>
              <td><strong>Tuesday</strong><br />(8/31)</td>
              <%- lessonDays[40] %>
            </tr>
            <tr>
              <td><strong>Wednesday</strong><br />(9/1)</td>
              <%- lessonDays[41] %>
            </tr>
            <tr>
              <td><strong>Thursday</strong><br />(9/2)</td>
              <td>Outcomes</td>
              <%- lessonDays[42] %>
            </tr>
            <tr>
              <td><strong>Friday</strong><br />(9/3)</td>
              <%- lessonDays[43] %>
            </tr>
          </tbody>
        </table>
        <h2>Week 9 - Deliverables</h2>
        <p>It is a requirement to complete at least 80% of all deliverables to receive: a Certificate of Completion; post-grad benefits such as the Meet and Greet; and Outcomes support.</p>
        <!-- Deliverable Table -->
        <table>
          <thead>
            <tr>
              <td>Date Assigned</td>
              <td>Deliverable</td>
              <td>Final Due Date</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>8/27</td>
              <td><a href="https://github.com/SEIR-7-06/Project-Wayfarer">Project Wayfarer</a></td>
              <td>9/3</td>
            </tr>
          </tbody>
        </table>
      <!-- </details> -->
    </li>
  </ul>
<!-- </details> -->
<hr />

<!-- Unit 4 Dropdown -->
<!-- <details> -->
  <!-- <summary><strong>Unit 4</strong> - Python, CS Topics, and Final Project</summary> -->
  <ul type="none">
    <!-- Week 10 Dropdown -->
    <li>
      <!-- <details>  -->
        <!-- <summary>Week 10 - Python and SQL</summary> -->
        <!-- Schedule Table -->
        <h2>Week 10 Schedule</h2>
        <table>
          <thead>
            <tr>
              <td></td>
              <th>Morning Exercise</th>
              <th>Module 1</th>
              <th>Module 2</th>
              <th>HW &amp; Extras</th>
              <th>Focus</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><strong>Monday</strong><br />(9/6)</td>
              <td>Holiday</td>
              <td>Holiday</td>
              <td>Holiday</td>
              <td>Holiday</td>
              <td>Holiday</td>
            </tr>
            <tr>
              <td><strong>Tuesday</strong><br />(9/7)</td>
              <%- lessonDays[44] %>
            </tr>
            <tr>
              <td><strong>Wednesday</strong><br />(9/8)</td>
              <%- lessonDays[45] %>
            </tr>
            <tr>
              <td><strong>Thursday</strong><br />(9/9)</td>
              <td>Outcomes</td>
              <%- lessonDays[46] %>
            </tr>
            <tr>
              <td><strong>Friday</strong><br />(9/10)</td>
              <%- lessonDays[47] %>
            </tr>
          </tbody>
        </table>
        <h2>Week 10 Deliverables</h2>
        <p>It is a requirement to complete at least 80% of all deliverables to receive: a Certificate of Completion; post-grad benefits such as the Meet and Greet; and Outcomes support.</p>
        <!-- Deliverable Table -->
        <table>
          <thead>
            <tr>
              <td>Date Assigned</td>
              <td>Deliverable</td>
              <td>Final Due Date</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>9/6</td>
              <td><a href="https://github.com/SEIR-7-06/Computer-Science-Lightning-Learns">Data Structure Research Assignment</a></td>
              <td>6/7</td>
            </tr>
            <tr>
              <td>9/8</td>
              <td><a href="https://github.com/SEIR-7-06/lists_and_ranges_pylab">Python Lists & Ranges Lab</a></td>
              <td>9/15</td>
            </tr>
          </tbody>
        </table>
      <!-- </details> -->
    </li>
    <!-- Week 11 Dropdown -->
    <li>
      <!-- <details> -->
        <!-- <summary>Week 11 - Flask, Final Project, and Optional Lessons</summary> -->
        <h2>Week 11 - Schedule</h2>
        <!-- Schedule Table -->
        <table>
          <thead>
            <tr>
              <td></td>
              <th>Morning Exercise</th>
              <th>Module 1</th>
              <th>Module 2</th>
              <th>HW &amp; Extras</th>
              <th>Focus</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><strong>Monday</strong><br />(9/13)</td>
              <%- lessonDays[48] %>
            </tr>
            <tr>
              <td><strong>Tuesday</strong><br />(9/14)</td>
              <%- lessonDays[49] %>
            </tr>
            <tr>
              <td><strong>Wednesday</strong><br />(9/15)</td>
              <%- lessonDays[50] %>
            </tr>
            <tr>
              <td><strong>Thursday</strong><br />(9/16)</td>
              <td>Outcomes</td>
              <%- lessonDays[51] %>
            </tr>
            <tr>
              <td><strong>Friday</strong><br />(9/17)</td>
              <%- lessonDays[52] %>
            </tr>
          </tbody>
        </table>
        <h2>Week 11 - Deliverables</h2>
        <p>It is a requirement to complete at least 80% of all deliverables to receive: a Certificate of Completion; post-grad benefits such as the Meet and Greet; and Outcomes support.</p>
        <!-- Deliverable Table -->
        <table>
          <thead>
            <tr>
              <td>Date Assigned</td>
              <td>Deliverable</td>
              <td>Final Due Date</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>9/14</td>
              <td><a href="https://github.com/SEIR-7-06/final-project">Final Project</a></td>
              <td>9/27</td>
            </tr>
          </tbody>
        </table>
      <!-- </details> -->
    </li>
    <!-- Week 12 Dropdown -->
    <li>
      <!-- <details> -->
        <!-- <summary>Week 12 - Final Project and Optional Lessons</summary> -->
        <h2>Week 12 - Schedule</h2>
        <table>
          <thead>
            <tr>
              <td></td>
              <th>Morning Exercise</th>
              <th>Module 1</th>
              <th>Module 2</th>
              <th>HW &amp; Extras</th>
              <th>Focus</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><strong>Monday</strong><br />(9/20)</td>
              <%- lessonDays[53] %>
            </tr>
            <tr>
              <td><strong>Tuesday</strong><br />(9/21)</td>
              <%- lessonDays[54] %>
            </tr>
            <tr>
              <td><strong>Wednesday</strong><br />(9/22)</td>
              <%- lessonDays[55] %>
            </tr>
            <tr>
              <td><strong>Thursday</strong><br />(9/23)</td>
              <td>Outcomes</td>
              <%- lessonDays[56] %>
            </tr>
            <tr>
              <td><strong>Friday</strong><br />(9/24)</td>
              <%- lessonDays[57] %>
            </tr>
          </tbody>
        </table>
        <h2>Week 12 - Deliverables</h2>
        <p>It is a requirement to complete at least 80% of all deliverables to receive: a Certificate of Completion; post-grad benefits such as the Meet and Greet; and Outcomes support.</p>
        <!-- Deliverable Table -->
        <table>
          <thead>
            <tr>
              <td>Date Assigned</td>
              <td>Deliverable</td>
              <td>Final Due Date</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>9/14</td>
              <td><a href="https://github.com/SEIR-7-06/final-project">Final Project</a></td>
              <td>9/27</td>
            </tr>
          </tbody>
        </table>
      <!-- </details> -->
    </li>
    <!-- Week 13 Dropdown -->
    <li>
      <!-- <details> -->
        <!-- <summary>Week 13 - Final Project Presentations</summary> -->
        <!-- Schedule Table -->
        <h2>Week 13 - Schedule</h2>
        <table>
          <thead>
            <tr>
              <td></td>
              <th>Morning Exercise</th>
              <th>Module 1</th>
              <th>Module 2</th>
              <th>HW &amp; Extras</th>
              <th>Focus</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><strong>Monday</strong><br />(9/27)</td>
              <%- lessonDays[58] %>
            </tr>
            <tr>
              <td><strong>Tuesday</strong><br />(9/28)</td>
              <td>Graduation!</td>
              <td>Graduation!</td>
              <td>Graduation!</td>
              <td>Graduation!</td>
              <td>Graduation!</td>
            </tr>
            <tr>
              <td><strong>Wednesday</strong><br />(9/29)</td>
              <td>REST!</td>
              <td>REST!</td>
              <td>REST!</td>
              <td>REST!</td>
              <td>REST!</td>
            </tr>
            <tr>
              <td><strong>Thursday</strong><br />(9/30)</td>
              <td>REST!</td>
              <td>REST!</td>
              <td>REST!</td>
              <td>REST!</td>
              <td>REST!</td>
            </tr>
            <tr>
              <td><strong>Friday</strong><br />(10/1)</td>
              <td>REST!</td>
              <td>REST!</td>
              <td>REST!</td>
              <td>REST!</td>
              <td>REST!</td>
            </tr>
          </tbody>
        </table>
        <h2>Week 13 - Deliverables</h2>
        <p>It is a requirement to complete at least 80% of all deliverables to receive: a Certificate of Completion; post-grad benefits such as the Meet and Greet; and Outcomes support.</p>
        <!-- Deliverable Table -->
        <table>
          <thead>
            <tr>
              <td>Date Assigned</td>
              <td>Deliverable</td>
              <td>Final Due Date</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>9/14</td>
              <td><a href="https://github.com/SEIR-7-06/final-project">Final Project</a></td>
              <td>9/27</td>
            </tr>
          </tbody>
        </table>
      <!-- </details> -->
    </li>
  </ul>
<!-- </details> -->
<hr />

</body>
</html>